body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: '微软雅黑';
  color: #878787;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #878787;
}
input,
img {
  vertical-align: middle;
  border: 0;
  padding: 0;
  outline: none;
}
.w {
  width: 980px;
  margin: 0 auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
